{{> head}}
{{> navbar}}

		<div class="row">
			<div class="col-8">
				<h1>Lo que sea</h1>
			</div>
			<div class="col-4">
				<img src='assets/img/Captura de pantalla de 2018-11-16 14-47-47.png' class="img-thumbnail">
			</div>
		</div>

{{> footer}}
